<!-- <ngx-spinner type="ball-scale-multiple">
  <h3>Loading...</h3>
</ngx-spinner> -->

<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://media2.giphy.com/media/l0HlTy9x8FZo0XO1i/giphy.gif?cid=ecf05e47wm90sagva6whrjydxl5l1f8fz7h1nj1ns816x4yq&rid=giphy.gif&ct=g' />"
  type="ball-scale-multiple"
>
  <h4 style="color: white;" class="mt-3">Loading...</h4>


</ngx-spinner>



<app-nav></app-nav>
<router-outlet></router-outlet>

<!-- <div class="container mt-2">
  <ul>
    <li *ngFor="let u of user">{{u.userName}}</li>
  </ul>
</div> -->
